.header {
  background: $off-black;
  margin-bottom: 4.8rem;
  padding: $m-size 0;
  color: white;
}

//BEM block element modifier
.header__title {
  font-size: $m-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-weight: 500;
  size: $m-size;
}