.header {
  background: $off-black;
  margin-bottom: $s-size;
  padding: $m-size 0;
  color: white;
}

//BEM block element modifier
.header__title {
  font-size: $m-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-weight: 500;
  size: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}